<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--<add key="databaseType" value="sqlite"/>
    <add key="connstr" value="Data Source=D:/smsdb.sqlite"/>-->
    <!--<add key="databaseType" value="sqlserver"/>
    <add key="connstr" value="user id=sa;password=youotech;initial catalog=smsdb;Server=.;"/>-->

    <add key="databaseType" value="mysql"/>
    <add key="connstr" value="server=127.0.0.1;database=smsdb;Persist Security Info=False;uid=root;pwd=youotech"/>
  </appSettings>
</configuration>