<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="dbType" value="mysql"/>
    <add key="connstr" value="user id=root;password=youotech;initial catalog=smsdb;Server=localhost;"/>

    <!--短信发送方式,db:数据库;zsms,使用zsms类发送,默认db-->
    <add key="smsSendWay_zutil" value="zsms"/>

    <add key="dbType_smsdb" value="sqlserver"/>
    <!--短信数据库类型,默认mysql-->
    <add key="connStr_smsdb" value="user id=sa;password=YouoTech2017!?;initial catalog=smsdb;Server=139.129.27.87;"/>

  </appSettings>
</configuration>
